.btn-hover:hover {
     background-color: #007bff; /* Cambia el color al pasar el ratón */
     border-color: #007bff; /* Cambia el color del borde al pasar el ratón */
     color: #fff; /* Cambia el color del texto al pasar el ratón */
 }