<div class="container mt-2">
     <table class="table bg-secondary" border="2" >
          <thead>
              <tr>
                  <th class="m-3 p-3 text-center">Compañia</th>
                  <th class="m-3 p-3 text-center">Ciudad</th>
                  <th class="m-3 p-3 text-center">Cantidad</th>
              </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let elemento of listaElementos | async" (click)="seleccionarElemento(elemento)">
                    <td class="m-3 p-3 text-center" >
                         <span class="btn">{{ elemento.company }}</span>
                    </td>
                    <td class="m-3 p-3 text-center">
                         <span class="btn">{{ elemento.state }}</span>
                    </td>
                    <td class="m-3 p-3 text-center">
                         <span class="btn">{{ elemento.money }} €</span>
                    </td>
              </tr>
          </tbody>
     </table>
</div>

<app-usuario-hijo [elementoSeleccionado]="elementoSeleccionado"></app-usuario-hijo>