<div class="m-5 ">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Inicio Secion</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="dni" formControlName="dni">
              <mat-error *ngIf="addressForm.controls['dni'].hasError('required')">
                DNI es <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field>
              <mat-label>Introduzca Contraseña</mat-label>
              <input matInput placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class=" ">
        <button class="" mat-raised-button color="primary" type="submit">Iniciar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>